<p id="notice"><%= notice %></p>

<h1>Albums</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.user.email %></td>
        <td><%= album.date %></td>
        <td><%= album.name %></td>
        <td><%= link_to 'Show', album, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_album_path(album), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Album', new_album_path, class: "btn btn-primary" %>
