<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Album</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.album.name %></td>
        <td><%= photo.description %></td>
        <td><%= link_to 'Show', album_photo_path(album_id: @album.id, id: photo.id), class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_album_photo_path(album_id: @album.id, id: photo.id), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', album_photo_path(id: photo.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_album_photo_path(@album) %>
